<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Website Title</title>
    <link rel="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Other head content -->
</head>
<body style="background-color:lightgrey">
    <!-- Header or Navigation Bar -->
	<header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">CashBoard</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">userFills Feed</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">userState Changes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Hyperliq Wallet Analysis</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
	</header> 
    <!-- Main Content -->
    <div class="shadow-lg container mt-4 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="shadow-lg col-md-12">
                <div class="feed p-2">
                    <!-- First Post -->
                    <div class="bg-black border mt-2">
                        <div>
                            <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                                <div class="d-flex flex-row align-items-center feed-text px-2">
                                    <div class="d-flex flex-column flex-wrap ml-2">
                                        <!-- Wallet Address will be dynamically inserted here -->
                                        <h3 id="wallet-address">WALLET ADDRESS HERE</h3>
                                    </div>
                                </div>
                                <div class="feed-icon px-2"><i class="fa fa-ellipsis-v white-50"></i></div>
                            </div>
                        </div>
                        <!-- Placeholder for Table -->
                        <div id="table-placeholder" class="p-2 px-3">
                            <!-- Dynamic table will be inserted here -->
                        </div>
                    </div>
                    <!-- ... other posts ... -->
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Footer -->

    <!-- Bootstrap JS and your custom script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/script.js"></script> <!-- Adjust the path as needed -->
</body>
</html>
